<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">

<h:head>
    <title>Add Student</title>
    <h:outputStylesheet library="css" name="tables.css"/>
    <h:outputStylesheet library="css" name="styles.css"/>
    <h:outputStylesheet library="css" name="w3.css"/>
</h:head>
<h:body>

    <div class="w3-bar w3-border w3-light-grey">
        <h:link value="Home" outcome="index" class="w3-bar-item w3-button w3-mobile w3-dark-grey" />
        <h:link value="Courses" outcome="list_courses" class="w3-bar-item w3-button w3-mobile"/>
        <h:link value="Students" outcome="list_students" class="w3-bar-item w3-button w3-mobile"/>
    </div>

	<div class="w3-animate-top " style="margin-top: 40vh; ">
	    <h:form class="w3-container w3-card-4 w3-light-grey w3-text-dark-grey w3-margin w3-display-middle" style="width: 50%; min-width: 400px;">
	
	        <div class="w3-panel w3-topbar w3-bottombar w3-border-blue-gray w3-center w3-xlarge"
	        >
	            <h2>Add Student</h2>
	        </div>

	        <p>Student ID: <h:inputText class="w3-input w3-border"
	                                    value="#{studentModel.id}"
	                                    required="true"
	                                    requiredMessage="Student ID is mandatary"
                                        validatorMessage="Length limith is 9 characters max."
	                                    id="sID">
                <f:validateLength maximum="9"/></h:inputText>
	            <h:message for="sID" style="color:red"/></p>
	
	        <p>Name: <h:inputText class="w3-input w3-border"
	                              value="#{studentModel.name}"
	                              required="true"
	                              requiredMessage="Name is mandatary"
                                  validatorMessage="Length limith is 50 characters max."
	                              id="sName">
                <f:validateLength maximum="50"/></h:inputText>
	            <h:message for="sName" style="color:red"/></p>
	
	        <p>Address: <h:inputText class="w3-input w3-border"
                                     validatorMessage="Length limith is 50 characters max."
	                                 value="#{studentModel.address}"
                                     id="sAddress">
                <f:validateLength maximum="50"/></h:inputText>
                <h:message for="sAddress" style="color:red"/></p>
	
	        <p>Course ID: <h:inputText class="w3-input w3-border"
	                                   value="#{studentModel.course.id}"
                                       required="true"
                                       requiredMessage="Course ID is mandatary"
                                       validatorMessage="Length limith is 9 characters max."
                                       id="cID">
                <f:validateLength maximum="9"/> </h:inputText>
	            <h:message for="cID" style="color:red"/></p>

            <h:messages globalOnly="true" styleClass="error"/>
	
	        <h:commandButton class="w3-btn w3-hover-blue-grey w3-block w3-section w3-grey w3-ripple w3-padding"
	                         value="Add"
	                         action="#{studentController.addStudent(studentModel)}"/>
	    </h:form>
    </div>

</h:body>
</html>