<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <title>Full Student Details</title>
    <h:outputStylesheet library="css" name="tables.css"/>
    <h:outputStylesheet library="css" name="styles.css"/>
    <h:outputStylesheet library="css" name="w3.css"/>
</h:head>
<h:body>
    <div class="w3-bar w3-border w3-light-grey">
        <h:link value="Home" outcome="index" class="w3-bar-item w3-button w3-mobile w3-dark-grey" />
        <h:link value="Courses" outcome="list_courses" class="w3-bar-item w3-button w3-mobile"/>
        <h:link value="Students" outcome="list_students" class="w3-bar-item w3-button w3-mobile"/>
    </div>

    <h2>Full Student Details</h2>

    <h:messages globalOnly="true" styleClass="error"/>

    <h:dataTable value="#{studentController.students}"
                 var="student"
                 headerClass="table-header"
                 rowClasses="table-odd-row,table-even-row"
    >
        <h:column>
            <f:facet name="header"> Student ID</f:facet>
            #{student.course.id}
        </h:column>
        <h:column>
            <f:facet name="header"> Student Name</f:facet>
            #{student.name}
        </h:column>
        <h:column>
            <f:facet name="header"> Student Address</f:facet>
            #{student.address}
        </h:column>
        <h:column>
            <f:facet name="header"> Course ID</f:facet>
            #{student.course.id}
        </h:column>
        <h:column>
            <f:facet name="header"> Course Name</f:facet>
            #{student.course.name}
        </h:column>
        <h:column>
            <f:facet name="header"> Course Duration</f:facet>
            #{student.course.duration}
        </h:column>

    </h:dataTable>

</h:body>
</html>