<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	
<h:head>
	<title>DCW Project 2018/19</title>
	<h:outputStylesheet library="css" name="tables.css"/>
	<h:outputStylesheet library="css" name="styles.css"/>
    <h:outputStylesheet library="css" name="w3.css"/>
</h:head>
<h:body>
    <div class="w3-bar w3-border w3-light-grey">
        <h:link value="Home" outcome="index" class="w3-bar-item w3-button w3-mobile w3-dark-grey w3-xxlarge" />
        <h:link value="Courses" outcome="list_courses" class="w3-bar-item w3-button w3-mobile w3-xxlarge"/>
        <h:link value="Students" outcome="list_students" class="w3-bar-item w3-button w3-mobile w3-xxlarge"/>
        <h:link value="Mindaugas Sarskus"  class="w3-bar-item w3-button w3-green w3-hover-green w3-right w3-xxlarge"/>
    </div>
</h:body>
</html>
