<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:event type="preRenderView"
             listener="#{studentController.loadStudents()}"/>
</f:metadata>

<h:head>
    <title>Colage - Manage Students</title>
    <h:outputStylesheet library="css" name="tables.css"/>
    <h:outputStylesheet library="css" name="styles.css"/>
    <h:outputStylesheet library="css" name="w3.css"/>
</h:head>
<h:body>
    <div class="w3-bar w3-border w3-light-grey">
        <h:link value="Home" outcome="index" class="w3-bar-item w3-button w3-mobile w3-dark-grey" />
        <h:link value="Courses" outcome="list_courses" class="w3-bar-item w3-button w3-mobile"/>
        <h:link value="Students" outcome="list_students" class="w3-bar-item w3-button w3-mobile"/>
        <h:link value="Add Student" outcome="add_student" class="w3-bar-item w3-button w3-mobile w3-orange"/>
    </div>

    <h2>All Students</h2>

    <h:messages globalOnly="true" styleClass="error"/>

    <h:dataTable value="#{studentController.students}"
                 var="student"
                 headerClass="table-header"
                 rowClasses="table-odd-row,table-even-row"
    >
        <h:column>
            <f:facet name="header"> Student ID</f:facet>
            #{student.id}
        </h:column>
        <h:column>
            <f:facet name="header"> Course ID</f:facet>
            #{student.course.id}
        </h:column>
        <h:column>
            <f:facet name="header"> Student Name</f:facet>
            #{student.name}
        </h:column>
        <h:column>
            <f:facet name="header"> Student Address</f:facet>
            #{student.address}
        </h:column>

        <h:column>
            <f:facet name="header"> Action</f:facet>
            <h:form>
                <h:commandButton value="All dtails" action="#{studentController.showStudent(student)}"
                                 class="w3-button w3-border w3-hover-brown w3-light-gray"
                                 style="margin: 5px;"/>
                <h:commandButton value="Delete" action="#{studentController.deleteStudent(student)}"
                                 class="w3-button w3-border w3-hover-red w3-light-gray"
                                 style="margin: 5px;"/>
            </h:form>
        </h:column>
    </h:dataTable>

</h:body>
</html>