<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<f:metadata>
    <f:event type="preRenderView"
             listener="#{courseController.loadCourses()}"/>
</f:metadata>

<h:head>
    <title>DCW Project 2018/19</title>
    <h:outputStylesheet library="css" name="tables.css"/>
    <h:outputStylesheet library="css" name="styles.css"/>
    <h:outputStylesheet library="css" name="w3.css"/>
</h:head>
<h:body>
    <div class="w3-bar w3-border w3-light-grey">
        <h:link value="Home" outcome="index" class="w3-bar-item w3-button w3-mobile w3-dark-grey" />
        <h:link value="Courses" outcome="list_courses" class="w3-bar-item w3-button w3-mobile"/>
        <h:link value="Students" outcome="list_students" class="w3-bar-item w3-button w3-mobile"/>
        <h:link value="Add Course" outcome="add_course" class="w3-bar-item w3-button w3-mobile w3-orange"/>
    </div>

    <h2>All Courses</h2>

    <h:messages globalOnly="true" styleClass="error"/>

    <h:dataTable value="#{courseController.courses}"
                 var="course"
                 headerClass="table-header"
                 rowClasses="table-odd-row,table-even-row"
    >
        <h:column>
            <f:facet name="header"> Course ID</f:facet>
            #{course.id}
        </h:column>
        <h:column>
            <f:facet name="header"> Course Name</f:facet>
            #{course.name}
        </h:column>
        <h:column>
            <f:facet name="header"> Course Duration</f:facet>
            #{course.duration}
        </h:column>
        <h:column>
            <f:facet name="header"> Action</f:facet>
            <h:form>
                <h:commandButton value="Show Students"
                                 action="#{studentController.showStudents(course)}"
                                 class="w3-button w3-border w3-hover-brown w3-light-gray"
                                 style="margin: 5px;"/>
                <h:commandButton value="Delete Course"
                                 action="#{courseController.deleteCourse(course)}"
                                 class="w3-button w3-border w3-hover-red w3-light-gray"
                                 style="margin: 5px;"/>
            </h:form>
        </h:column>
    </h:dataTable>

</h:body>
</html>