.table {   
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.table-header {
	border-bottom:1px solid #a5a5a5;
	background: #525555;
	margin-bottom: 22px;
	padding:10px;
	color: #FFFFFF;
	text-align:left;
}

.table-odd-row {
	border-top:1px solid #FFFFFF;
	background: #f3eaeb;
	text-align:left;
}
 
.table-even-row {
	border-top:1px solid #FFFFFF;
	background:none repeat scroll 0 0 #e9e1df;
	text-align:left;
}
